@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

.prose {
  max-width: 65ch;
}
.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
