@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-inter);
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

/* Hide scrollbars globally but allow scrolling */
*::-webkit-scrollbar {
  display: none !important;
}

* {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

.prose {
  max-width: 65ch;
}
.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
